
footer {
  height: 35px;
  padding: 10px 0;
}

.navbar-brand img {
  margin-top: -25px;
  width: 350px;
  height: auto;
}

#map {
  margin-top: 75px;
  height: 550px;
  border: 1px solid #AAA;
}

img#green {
  width:45px;
  height:45px;
}

#details {
  padding-top: 5em;
  line-height: 2;
}

#dropdownMenu1 {
  margin-top: 20px;
}

.article img {
  float: left;
  margin-right: 10px;
  width: 175px;
}
li button {
  margin-top: 21px;
  margin-right: 10px;
}
